<TMPL_INCLUDE NAME="header.html">
<TMPL_INCLUDE NAME="menu.html">

    <div class="main">
      <h1>Domaine &rarr; @<TMPL_VAR NAME=DOMAIN></h1>

      <table class="browser">
        <tr>
          <th>Adresse</th>
          <th>Configuration</th>
          <th>Action</th>
        </tr>
<TMPL_LOOP NAME=ADDRESSES>
        <tr class="<TMPL_VAR NAME=STRIPE>">
          <td class="key"><TMPL_VAR NAME=ADDRESS_LOCAL></td>
          <td><TMPL_VAR NAME=INFO></td>
          <td><a href="#/address_edit?address=<TMPL_VAR NAME=ADDRESS ESCAPE=URL>">Modifier</a> | <a href="#/address_delete?address=<TMPL_VAR NAME=ADDRESS ESCAPE=URL>">Supprimer</a></td>
        </tr>
</TMPL_LOOP>
      </table>
    </div>

<TMPL_INCLUDE NAME="footer.html">
