<TMPL_INCLUDE NAME="header.html">
<TMPL_INCLUDE NAME="menu.html">

    <div class="main">
      <h1>Domaines</h1>

      <table class="browser">
        <tr>
          <th>Domaine</th>
          <th>Informations</th>
          <th>Action</th>
        </tr>
<TMPL_LOOP NAME=DOMAINS>
        <tr class="<TMPL_VAR NAME=STRIPE>">
          <td class="key"><a href="#/address_list?domain=<TMPL_VAR NAME=NAME>"><TMPL_VAR NAME=NAME></a></td>
          <td><TMPL_VAR NAME=INFO> ?</td>
          <td><a href="#/domain_delete?domain=<TMPL_VAR NAME=NAME>">Supprimer</a></td>
        </tr>
</TMPL_LOOP>
      </table>
    </div>

<TMPL_INCLUDE NAME="footer.html">
