<TMPL_INCLUDE NAME="header.html">
<TMPL_INCLUDE NAME="menu.html">

    <div class="main">
      <h1>Domaine &rarr; @bearstech.com</h1>

      <form method="post" action="#/domain_delete/del">
        <div class="dialog warning">
          <h1>Attention !</h1>
          <p>
            Cette opération supprimera tous les comptes du domaines ainsi que tous les courriers de ces comptes présents sur le serveur.
          </p>
          <p>
            Etes-vous sûr ?
          </p>
          <p class="yesno">
            <input type="submit" id="delete" value="Supprimer" class="apply"/>
            <input type="submit" id="cancel" value="Annuler"/>
          </p>
        </div>
	<input type="hidden" name="domain" value="<TMPL_VAR NAME=DOMAIN>"/>
      </form>
    </div>
    <script type="text/javascript"><!--
    try { document.getElementById('cancel').focus(); } catch (e) {}
    --></script>

<TMPL_INCLUDE NAME="footer.html">
