Source: bearmail
Section: mail
Priority: extra
Maintainer: Benjamin Linet <blinet@bearstech.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: http://forge.bearstech.com/trac/wiki/BearMail

Package: bearmail
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, procmail, openssl, postfix, postfix-pcre, dovecot-imapd, dovecot-pop3d, dspam, clamsmtp, clamav-daemon, libmail-sendmail-perl
Description: A glue and management tool for a complete mail platform
 Bearmail will help you centralize configuration for the following services:
  - Postfix (SMTP)
  - Dovecot (IMAP, POP)
  - Clam-AV anti-virus
  - Dspam anti-spam
